/* ===========================
   GLOBAL
=========================== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    background: url("foto-perpustakaan/perpuscuyyy.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
}


/* ===========================
   NAVBAR
=========================== */
.navbar {
    background: rgba(255, 255, 255, 0.08) !important;
    backdrop-filter: blur(10px);
}

.navbar-brand,
.navbar .nav-link {
    font-weight: 500;
}


/* ==========================
   LOGIN MODAL
========================== */

.modal-content{
    border: none;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,.25);
}

/* Header */

.modal-header{
    background: linear-gradient(135deg,#8B5E3C,#C68E4E);
    color: white;
    border-bottom: none;
    padding: 18px 25px;
}

.modal-title{
    font-size: 24px;
    font-weight: bold;
}

.btn-close{
    filter: invert(1);
}

/* Body */

.modal-body{
    background: #fdfbf8;
    padding: 35px;
}

.form-label{
    font-weight: 600;
    color: #5d4037;
}

.form-control{
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #d8c3a5;
    transition: .3s;
}

.form-control:focus{
    border-color: #C68E4E;
    box-shadow: 0 0 8px rgba(198,142,78,.35);
}

/* Tombol */

.btn-login{
    background: linear-gradient(135deg,#8B5E3C,#C68E4E);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    transition: .3s;
}

.btn-login:hover{
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,.25);
}

/* Animasi */

.modal.fade .modal-dialog{
    transform: scale(.8);
    transition: .3s;
}

.modal.show .modal-dialog{
    transform: scale(1);
}


/* ===========================
   IMAGE SLIDE / CAROUSEL
=========================== */
.carousel {
    width: 700px;
    margin: 30px auto;
}

.carousel img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.carousel-item a {
    display: block;
}

.carousel-item img {
    cursor: pointer;
}

/* Card yang ada di dalam carousel */
.carousel .card {
    background-color: #C68E4E;
    
    border: none;
}

.carousel .card-body {
    background: transparent;
}


/* ===========================
   DAFTAR BUKU
=========================== */
.book-card {
    transition: 0.3s;
    border: none;
    border-radius: 12px;
}

.book-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

.book-card img {
    height: 250px;
    object-fit: cover;
}

.book-card .card-title {
    font-size: 15px;
    font-weight: bold;
}

.book-card .btn-primary {
    width: 100%;
}


.judul-container {
    text-align: center;
    margin-top: 40px;
}

.judul-halaman {
    display: inline-block;
    background-color: #C68E4E;
    color: white;
    padding: 12px 30px;
    border-radius: 12px;
    
}